/* THE HOME PAGE */

/* top half */
.top{
background-image: url("./resources/images/Wiltshire_CurzonSt_c.1900.jpg");
height: 30rem;
background-repeat: no-repeat;
background-position: bottom;
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
}

/* top banner with name and navigation */
.banner{
height: 3rem;
margin: 1rem;
background-color: AliceBlue;
display: inline-flex;
}
.banner-left{
	float: left;
	display: flex;
	align-items: center;
	padding: 1rem;
	width: 40rem;
}
.banner-left h1{
	color: Crimson;
}
.banner-right{
	float: right;
	display: flex;
	align-items: center;
}
.banner-right span{
	padding: 1rem;
}

/* floating intro box */

.intro{
	position: absolute;
	top: 15rem;
	right: 4rem;
	float: right;
	background-color: white;
	color: black;
	width: 20rem;
	padding: 1rem;
	font-size: 0.9rem;
}

/* the boxes */

.box{
	position: relative;
	width: 15rem;
	height: 15rem;
	border-style: solid;
	border-color: Black;
	background-color: AliceBlue;
	margin: 2rem 4rem;
	display: inline-block;
}

.box h1{
	font-size: 1.5rem;
	color: Crimson;
	padding: 1rem 1rem 0rem 1rem;
}

.box p{
	font-size: 0.8rem;
	font-family: inherit;
	padding: 1rem 1rem 0rem 1rem;
}
